h2{
    text-align: center;
}

h4{
    text-align: center;
    position: relative;
}

#rightContainer h4{
    color: #1ABC9C;
}

#leftContainer h4{
    color: #3498db;
}

#getAdvice{
    position: relative;
}

.grid{
    padding: 10px;
}

.grid span{
  display: inline-block;
  vertical-align: middle;
  line-height: 40px;
}

span{
    padding 10px;
}

.small{
    width:50px;
}

.medium{
    width:60px;
}

button{
   
}

#rightContainer{
    position: relative;
    height: auto;
    width: 500px;
    float: right;
}

#leftContainer{
    height: auto;
    width: 500px;
    float: left;
}

#leftHalf{
    position:absolute;
    display: inherit;
    background-color: #1ABC9C;
    height: auto;
    width: 500px;
    float: left;
}

#hours, #difficulty{
    -webkit-transform: translate(0px,13px);
}
